<%- include("./layout/header.ejs"); %>
    <v-main>
        <v-container>
            <v-row class="mb-0 pa-5">
                <v-col v-for="(complaint, i) in complaints" :key="i" cols="6">
                    <v-card :color="'#385F73'" dark>
                        <v-card-title class="text-h5">
                            <h4>{{ complaint.name.toUpperCase() }}</h4>
                        </v-card-title>
                        <v-card-subtitle class="pb-0" color="white">
                            <p>Subject Name: {{ complaint.subject.toUpperCase() }}</p>
                            <v-sheet class="ma-0 pa-2 rounded-lg  white--text font-weight-bold" :color="'#385F73'"
                                outlined>
                                <h3>{{ complaint.content }}</h3>
                            </v-sheet>

                        </v-card-subtitle>

                        <v-row justify="space-between">
                            <v-badge color="#5692B0" :content="complaint.reply.length" transition="slide-x-transition"
                                overlap :dot="complaint.reply.length == 0" class="ml-5 mb-2 mt-6">
                                <v-icon color="white">
                                    mdi-comment
                                </v-icon>
                            </v-badge>
                            <v-btn :loading="loading" class="mr-5 mb-2 mt-5" color="blue lighten-3"
                                @click="goto('/complaint/' + complaint.id)">
                                <v-icon left>
                                    mdi-pencil
                                </v-icon>
                                reply
                            </v-btn>
                        </v-row>

                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-main>
    <v-footer padless>
        <v-col class="text-center" cols="12">
            {{ new Date().getFullYear() }} — <strong>By Youcef Hemadou</strong>
        </v-col>
    </v-footer>
    </v-app>

    <script>
        // import CardInfo from "components/CardInfo"
        // var CardInfo = require("./components/CardInfo")
        var vm = new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data: {
                page_name: "COMPLAINTS",
                logged: false,
                info: {},
                drawered: true,
                items: [],
                complaints: []
            },
            computed: {
                styleColor() {
                    return 'background-image: linear-gradient(270deg,#' + this.secondColor + ' ,#' + this.firstColor + ')';
                }

            },
            methods: {
                goto(url) {
                    window.location.href = url
                },
                logout() {
                    localStorage.removeItem("token");
                    window.location.href = '/login'
                }
            },
            created() {
                if (localStorage.getItem("token") === null) {
                    window.location.href = '/login'
                } else {
                    axios.defaults.headers.post['x-access-token'] = localStorage.getItem("token")
                    axios.defaults.headers.common['x-access-token'] = localStorage.getItem("token")
                    axios.get('/api/user/me').then((res) => {
                        // console.log(res.data)
                        this.info = res.data
                        this.logged = true
                        this.items.push(
                            { title: 'Dashboard', icon: 'mdi-view-dashboard', url: "/", selected: false },
                            { title: 'Account', icon: 'mdi-badge-account-horizontal-outline', url: "/profile", selected: false },
                            { title: 'Coefficient', icon: 'mdi-calculator', url: "/coefficient", selected: false },
                        )
                        if (res.data.user_refere != -1) {
                            if (res.data.role.toLowerCase() == "super admin") {
                                this.items.push(
                                    { title: 'Users', icon: 'mdi-account-supervisor-outline', url: "/users", selected: false },
                                    { title: 'Members', icon: 'mdi-account-group-outline', url: "/members", selected: false },
                                )
                            }
                            this.items.push(
                                { title: 'Complaints', icon: 'mdi-alert-circle', url: "/complaints", selected: true },
                                { title: 'Marks', icon: 'mdi-format-text-variant-outline', url: "/marks", selected: false }
                            )
                        } else {
                            window.location.href = '/'
                        }
                        axios.get('/api/complaints/-1/' + res.data.role.toLowerCase()).then((response) => {
                            console.log(response.data)
                            this.complaints = response.data
                        }).catch(
                            err => {
                                this.errors = err.response.data.errors
                                console.log(this.errors)
                            }
                        )
                    }).catch(
                        err => {
                            this.errors = err.response.data.errors
                            console.log(this.errors)
                        }
                    )

                }
            },

        })
    </script>

    <%- include("./layout/footer.ejs") %>